@import "tailwindcss";

:root {
  --primary: #05072b;
  --secondary: #0d113d;
  --card: #12184a;
  --accent: #e238a7;
  --accent2: #7a39d8;
  --warning: #ffc700;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: var(--primary);
  color: white;
  font-family:
    Inter,
    system-ui,
    sans-serif;
}